@import "tailwindcss";

@theme {
  --color-primary: #dc2655;
  --color-primary-50: #fdf2f6;
  --color-primary-100: #fce7ef;
  --color-primary-200: #fbcfe0;
  --color-primary-300: #faa7c5;
  --color-primary-400: #f5719e;
  --color-primary-500: #dc2655;
  --color-primary-600: #bf173e;
  --color-primary-700: #9e1634;
  --color-primary-800: #84172f;
  --color-primary-900: #510616;
  --color-primary-950: #292c2d;

  --color-: #3e4344;
  --color-neutral-50: #f8f9f9;
  --color-neutral-100: #f0f1f1;
  --color-neutral-200: #e1e2e3;
  --color-neutral-300: #d1d4d4;
  --color-neutral-400: #c2c5c6;
  --color-neutral-500: #a4a9aa;
  --color-neutral-600: #858c8d;
  --color-neutral-700: #676f71;
  --color-neutral-800: #52595a;
  --color-neutral-900: #3e4344;
  --color-neutral-950: #292c2d;
  --color-neutral-1000: #151617;

  --color-success: #00a478;
  --color-success-300: #00ba88;
  --color-success-500: #00a478;
  --color-success-700: #008364;

  --color-warning: #f3a62c;
  --color-warning-300: #f4b740;
  --color-warning-500: #f3a62c;
  --color-warning-700: #ec8514;

  --color-error: #ed2e2e;
  --color-error-300: #f87171;
  --color-error-500: #ed2e2e;
  --color-error-700: #dc2626;
}

@font-face {
  font-family: "Vazir";
  src: url("/font/Vazir-Medium.woff") format("woff");
}

html {
  font-family: Vazir;
  scroll-behavior: smooth;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s ease-out;
}

@media (max-width: 1024px) {
  button,
  a {
    -webkit-tap-highlight-color: transparent;
  }

  button {
    -webkit-user-select: none;
    user-select: none;
  }
}

*:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
